<header class="navbar">
  <div class="navbar-content">
    <div class="logo-brand-container">
      <div class="logo-container">
        <div class="logo-placeholder"></div>
      </div>
      <div class="brand-title">Purple Canvas Studio</div>
    </div>
    
          <nav class="navbar-nav">
        <div class="nav-links">
          <a href="#" class="nav-link">Activities</a>
          <a href="http://purplecanvasshop.s3-website-us-east-1.amazonaws.com/" target="_blank" class="nav-link">Shop</a>
          <a [routerLink]="['/reviews']" class="nav-link">Reviews</a>
          <a [routerLink]="['/gallery']" class="nav-link">Gallery</a>
          <a [routerLink]="['/about']" class="nav-link">About</a>
          <a [routerLink]="['/contact']" class="nav-link">Contact</a>
        </div>
      </nav>
  </div>
</header>
